# Final Project: Data Science Tools and Examples

## Introduction
This notebook is part of the final project for the course. It demonstrates the use of Markdown and code cells in Jupyterlite Notebook, covering topics such as data science languages, libraries, tools, and basic arithmetic operations.

## Data Science Languages
Some commonly used programming languages in data science are:
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
Popular libraries used in data science include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools
| Tool            | Description                             |
|------------------|-----------------------------------------|
| Jupyter Notebook | Interactive environment for analysis   |
| RStudio          | IDE for R programming                  |
| Apache Spark     | Big data processing

## Arithmetic Expression Examples
Arithmetic expressions are used for performing calculations, such as addition, subtraction, multiplication, and division.

In [9]:
# Multiplication and Addition Example
result = (8 * 12) + 15
print("The result is:", result)

The result is: 111

In [11]:
# Convert minutes to hours
minutes = 135
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

135 minutes is equal to 2.25 hours

## Objectives
The objectives of this notebook are:
- Demonstrate Markdown cell formatting.
- List common data science languages, libraries, and tools.
- Use Python code to perform basic arithmetic operations.

## Author
Name: [Meiying Wan]